{{>inc/header_min}}

<h1>Регистрация</h1>

<div class=register>
	<form method=post>
		<table>
		<tr>
			<td>E-mail
			<td><input type=text name=email>
		<tr>
			<td>Пароль (не от мыла)
			<td><input type=password name=password value=''>
		<tr>
			<td>Пароль еще разок
			<td><input type=password name=passwordConfirm value=''>
		<tr>
			<td>Два минус три плюс пять
			<td><input type=text name=zombiCheck>
		<tr>
			<td>Как к Вам обращаться
			<td><input type=text name=name>
		<tr>
			<td colspan=2><input type=submit name=register_submit value='  Готово  '>
		</table>
	</form>
</div>

{{>inc/footer_min}}
